{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}
<title>Board</title>
{% endblock %}



{% block navbar %}
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar">Home</span>
          <span class="icon-bar">About</span>
          <span class="icon-bar">Contact</span>
        </button>
        <a class="navbar-brand" href="/">inCiTE</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'idea' %}">Idea</a></li>
          <li class="active"><a href="{% url 'board' %}">Board</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
        
  {% endblock %}   

{% block content %}
<!-- under construction alert -->
  <br>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">

      <div class="alert alert-danger fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Sorry!</strong> This site is under construction now for new version.
      </div>
      <p>
        Board
      </p>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
<br>

{% endblock %}